﻿@if (Show)
{
    <div class="aboutBox">
        <button onclick="@(() => Close?.Invoke())">✕</button>
        <h2>About Blaze Maze</h2>
        <p>
            Application made with 🔥 in <a href="http://blazor.net" target="_blank">Blazor</a> by <a href="https://velorien.github.io" target="_blank">Velorien</a>. You will find the source code <a href="https://gitlab.com/Velorien_/blazemaze" target="_blank">here</a>.
        </p>
        <p>Maze generation algorithm borrowed from <a href="http://weblog.jamisbuck.org/2010/12/27/maze-generation-recursive-backtracking" target="_blank">The Buckblog</a>.</p>
        <h3>Controls</h3>
        <p>You can move the maze around with your left mouse button held down and rotate it with the right button. Use the scroll wheel to zoom in and out.</p>
    </div>
}

@functions {
    [Parameter] protected bool Show { get; set; }
    [Parameter] protected Action Close { get; set; }
}