﻿<div class="compassContainer">
    <div class="compass @(Animate ? "animate" : string.Empty)" style="transform: rotateX(@(RotateX)deg) rotateZ(@(RotateZ)deg);">
        <div class="needleNorth"></div>
        <div class="needleSouth"></div>
        <div class="northIndicator">N</div>
    </div>
</div>

@functions {
    [Parameter] protected double RotateZ { get; set; }
    [Parameter] protected double RotateX { get; set; }
    [Parameter] protected bool Animate { get; set; }
}